*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: rgba(0, 0, 0, 0.7);
}
.contenedor{
 width: 100%;
 margin: 0 auto;
 background-color: #f0f0f0;
}

.contedenor__caja-vinculos{
    width: 100%;
    height: 40px;
    display: flex;
    background-color: gray;
}

.contenedor__vinculo1{
    margin-top: 10px;
    margin-left: 10px;
    color: #fff;
}

.contenedor__vinculo1:hover{
    text-shadow: 0 5px 10px black;
}

.contenedor__caja-interna-vinculo{
    padding: 10px 5px 0 5px;
    background-color: black;
    position: relative;
    left: 130px;

    
}

.contenedor__vinculo2 {
    color: white;
}

.contenedor__caja-interna-vinculo:hover{
    background-color: white;
}

.contenedor__caja-interna-vinculo:hover  .contenedor__vinculo2{
    color: black;
}





.container__logo , .logo{
   
    width: 100px;
    height: 100px;
    position: relative;
    bottom: 10px;
    
    
}

.contenedor__header{
    width: 100%;
    height: 100px;
    padding-top: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    
}

.contenedor__nav{
    width: 75%;
    height: 30px;
    position: absolute;
    top: 100px;
    left: 110px; 
    display: flex;   
    z-index: 3;
}

.contenedor__nav-lista{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    
}

.contenedor__nav-lista-link{
   background-color: white;
   padding: 3px;
}

.contenedor__nav-lista-link > a:hover{
    color: white;
    padding: 3px;
    display: flex;
    vertical-align: center;
    justify-content: center;
    background-color: black;
}

.contenedor__nav-lista-interna{
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    padding: 10px;
    top: 30px;
    text-align: left;
    display: none;
}

.lista__interna-link {
  margin-bottom: 10px;
}

.lista__interna-link > a {
    color: white;
}

.lista__interna-link > a:hover{
    background-color: white;
    padding: 5px;
    color: black;
}


.despliegue:hover .contenedor__nav-lista-interna{
  display: block;
  position: absolute;

}


.contenedor__caja-donar{
    position: absolute;
    top: 280px;
    width: 300px;
    color: #fff;
    z-index: 5;
   
}

.contenedor__caja-donar h1, p{
    margin: 7px 0 7px 5px;
}

.contenedor__caja-botones{
    display: flex;
    
}
.contenedor__caja-botones > a{
    background-color: #fff;
    color: black;
    margin: 5px;
    padding: 5px;
    border-radius: 1em;
    border: none;
    
}

.contenedor__caja-botones > .btn1{
    animation: cambio 2s ease-in-out infinite alternate-reverse;
}

@keyframes cambio {
    from{
        background-color: #60e35b;
        
        color: #fff;
    }

    to{
        background-color: #faff36;
        color: #000;
    }
}



div#slider { 
    overflow: hidden; 
    
    
} /* las imágenes no van a salir del márgen de la pantalla*/

div#slider  img { 
    width: 20%;
    float: left; 
}

div#slider figure { 
  position: relative;
  display: flex;
  width: 400%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite ;
   /*el movimiento se va a mantener de forma indefinida -infinito-*/
}


/*esta parte del código define el movimiento de las imágenes a la izquierda*/
@keyframes slidy {


    0%{ margin-left: 0%;}
    20%{ margin-left: 0%;}
    25%{ margin-left: -100%;}
    45%{ margin-left: -100%;}
    50%{ margin-left: -200%;}
    70%{ margin-left: -200%;}
    75%{ margin-left: -300%;}
    100%{margin-left: -300%;}
    
}

.contenedor__tarjetas{
    width: 80%;
    margin: 0 auto;
    display: block;
    align-content: center;
    justify-content: center;
}
.contenedor__tarjetas > div{
    width: 200px;
    margin: 5px auto;
    text-align: center;
    border-radius: 3em;
    transition: backdrop-filter 1s, background 1s ;
}


.contenedor__tarjetas  > div:hover {
    color: white;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 2px 4px 3px black;
    padding: 20px;
}

div > span{
    display: none;
}

div:hover span{
    display: block;
}

.contenedor__vinculo{
    width: 90%;
    margin: 40px auto 10px auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.contenedor__vinculo > h3 {
    font-size: 20px;
    color: #fff;
    margin: 0;
    padding: 10px;
}

.contenedor__vinculo > p{
    color: #fff;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding-bottom: 5px;
}

footer{
    
    position: relative;
    top: 130px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    background-color: #000;
    color: orange;
}

footer > div{
   
    text-align: center;

}

.contenedor__footer-redes .redes{
    padding: 0;
}

.redes li {
  width: 150px;  
  margin: 30px auto;
  
}

.redes li a{
   position: relative;
   bottom: 8px;
   margin-left: 1em;
   color: orange;
   
}
.redes li .img3{
    transform: translateX(-10px);
}

.contenedor__footer-ubicacion p{
    margin-top: 2em;
}

.contenedor__footer-ubicacion #home{
    margin-top: 30px;
}



.contenedor__footer-colaboracion .footer--p{
    margin-top: 7em;
}
  
.twitter__a{
    margin-right: 20px;
}



@media screen and (min-width:800px) {

    .contenedor{
        width: 90%;
        margin: 0 auto;
    }
    .contenedor__caja-interna-vinculo{
        left: 820px;
    }

    .container__logo , .logo{
        width: 100px;
        height: 100px;
        margin: 0;
        position: relative;
        bottom: 10px;
        left: 5px;
    }

    .contenedor__nav{
        width: 30%;
        height: 60px;
        position: relative;
        top: 20px;
        justify-content: flex-end;
        left: 620px;
        background: none;
    }

    .contenedor__nav-lista{
        height: 30px;
    }

    .contenedor__nav-lista-link{
        display: flex;
        align-items: center;
        margin-left: 20px;
        background-color: transparent;

    }

    .contenedor__nav-lista-link > a{
        color: white;
    }


    .contenedor__nav-lista-interna{
        top: 30px;
        
    }

    .contenedor__header{
        height: 100px;
        display: flex;

    }

    div#slider{
        width: 90%;
        height: 500px;
        margin: 10px auto;
        box-shadow: 10px 10px 15px ;
    }

    




    .contenedor__caja-donar{
    top: 510px;
    left: 150px;
    }

    .contenedor__caja-donar h1{
        font-size: 35px;
    }

    .contenedor__tarjetas{
    width: 70%;
    display: grid;
    margin: 30px auto;
    position: relative;
    top: 50px;
    padding: 10px;
    grid-template-columns: 31.8% 31.8% 31.8%;
    grid-template-rows: 300px 300px;
    grid-gap: 20px;
    
}

.contenedor__tarjetas div{
    border-radius: 3em;
    height: 280px;
    transition: backdrop-filter 1s, background 1s ;    
}



 .contenedor__tarjetas div > img{
 position: relative;
 
 left: 5px;
}

 .contendenor__tarjetas div > p{
 position: relative;
 top: 10%;
 text-align: center;
 margin-top: 20px;
 font-display: ;
 
 }


.contenedor__footer-redes{
    width: 290px;
    height: 280px;
    position: relative;
    top: 10px;
    margin: 0px 30px 0 30px;
    


}
.contenedor__footer-redes > h3{ 
    display: block;
    margin-bottom: 20px;  
    font-size: 25px;
    color: white;

    
}
.contenedor__footer-redes li{
    margin: 20px;
    
}

.redes li{
    
    display: flex;
}
.contenedor__footer-redes li > img{
   margin: 0 0 20px 40px;

}

.contenedor__footer-redes  li a{
    font-size: 20px;
    color: orange;
    margin-top: 10px;
    
    }

.contenedor__footer-ubicacion{
    width: 200px;
    height: 250px;
    position: relative;
    top: 25px;
    left: 70px;
    
}

.contenedor__footer-ubicacion h3{

    font-size: 25px;
    margin: 0;
    margin-top: 8px;
    margin-left: 10px;
    color: #fff;
}

.contenedor__footer-ubicacion p{
    margin-top: 20px;
    color: orange;
}

.contenedor__footer-ubicacion img{
    margin-top: 20px;
}

.contenedor__footer-colaboracion{
    width: 300px;
    height: 300px;
    position: relative;
    text-align: center;
    top: 10px;
    left: 50px;
    color: #fff;
    
    
}
 
.contenedor__footer-colaboracion h3{
    font-size: 25px;

}

.contenedor__footer-colaboracion p{
    margin-top: 80px;
    color: orange;
}
 
}